<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!--  font awesome icons  -->
        <link rel="stylesheet" href="./css/all.min.css">

       <!--  Bootstrap css file  -->
       <link rel="stylesheet" href="./css/bootstrap.min.css">

       <!--  font awesome icons  -->
       <!-- <link rel="stylesheet" href="./css/all.min.css"> -->

    <!-- custom css file -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    
 <!--  ======================= Start Header Area ============================== -->

 <header class="header_area mb-0">
     <div class="main-menu  ">
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <a class="navbar-brand" href="#"><img src="./img/logo.png" class="" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ml-auto"> 
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">about</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">service</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">howtohelp</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">pages</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">blog</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">contact</a>
                  </li>
                
              </ul>
            </div>
            </div>
          </nav>
     </div>
 </header>

 <!--  ======================= End Header Area ============================== -->

    <!--  ======================= Start Main Area ================================ -->

    <main class="site-main ">
        <!--  ======================= Start Banner Area =======================  -->
        
        <section class="site-banner">
            <div class="container">
                <div class="row mt-0">
                    <div class="col-lg-6 col-md-12 site-title ">
                        <h3 class="title-text">HEY</h3>
                        <h1 class="title-text text-uppercase">Change lives all year long</h1>
                        <h4 class=" site-title  ">Our community of monthly supporters enables us to spring into action, 
                            save more lives, and develop long-term solutions to complex crises.</h4>
                        <div class="site-buttons mb-5  ">
                            <div class="d-flex flex-row flex-wrap">
                                <button type="button" class="btn button primary-button mr-4 text-uppercase">Explore monthly giving</button>
                                {{!-- <button type="button" class="btn button secondary-button text-uppercase">Get cv</button> --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image    ">
                        <img src="./img/banner/px1.jpg" alt="banner-img" class="img-fluid shadow  pt-0 pb-0">
                    </div>

                 
                </div>
                    <div class=" title-text text-center   ">
                        <h1 class="second-layer">Take action</h1></div>
                    </div>
            </div>

  
</div>
        </section>

        <!--  ======================= End Banner Area =======================  -->

        <!--  ======================= Start Action Area =======================  -->

         <section class="action-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="single-brand px-5 py-2">
                            <h3 class="font-roboto">Stand up for a better world</h3>
                            <div class="site-buttons mb-5  ">
                                <div class="d-flex flex-row flex-wrap">
                                    <button type="button" class="btn button primary-button mr-4 text-uppercase">Sign our petitions</button>
                                    {{!-- <button type="button" class="btn button secondary-button text-uppercase">Get cv</button> --}}
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="single-brand px-5 py-2">
                            <h3 class="font-roboto">Start your own fundraiser</h3>
                            <div class="site-buttons mb-5  ">
                                <div class="d-flex flex-row flex-wrap">
                                    <button type="button" class="btn button primary-button mr-4 text-uppercase">Learn more</button>
                                    {{!-- <button type="button" class="btn button secondary-button text-uppercase">Get cv</button> --}}
                                </div>
                           </div>
                        </div>
                    </div>
                </div>


                  
            </div>

         
            </div>
        </section>


        


        <!--  ======================= Start Action Area =======================  -->


        <section class="second-action">
                <div class="container">
                 <div class="row mt-5">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="single-action px-5 py-2">
                            <h1 class="font-roboto">Volunteer</h1>
                            <p class="font-roboto">Bring your experience and passion to a wide range of opportunities at our Portland headquarters.</p>
                            <div class="site-buttons mb-5  ">
                                <div class="d-flex flex-row flex-wrap">
                                    <button type="button" class="btn button primary-button mr-4 text-uppercase">Sign our petitions</button>
                                    {{!-- <button type="button" class="btn button secondary-button text-uppercase">Get cv</button> --}}
                                </div>
                           </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 ">
                        <div class="single-action px-5 py-2">
                            <h1 class="font-roboto">Ask your employer to match</h1>
                            <p class="font-roboto">Help us get on the match list at your company. You can double your impact and extend our reach.</p>
                            <div class="site-buttons mb-5  ">
                                <div class="d-flex flex-row flex-wrap">
                                    <button type="button" class="btn button primary-button mr-4 text-uppercase">Learn more</button>
                                    {{!-- <button type="button" class="btn button secondary-button text-uppercase">Get cv</button> --}}
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
        </section>


    </main>

    <!--  ======================= end Main Area ================================ -->


  <!--  Jquery js file  -->
  <script src="./js/jquery.3.6.0.js"></script>

  <!--  Bootstrap js file  -->
  <script src="./js/bootstrap.min.js"></script>
</body>
</html>