@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* import global styling */
@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
  padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
  /* font-style font-weight font-size line-height font-family */
  font: normal 500 15px/2px var(--roboto);

  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */

.site-main .site-banner {
  /*  */
  background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 2%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: " ";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 3rem;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;

  margin-top: 1rem;
  width: 90rem;
}

.site-main .site-banner .second-layer {
  margin-top: 3rem;
}

.site-main .site-banner .third-layer .card {
  width: 25rem;

  margin-right: 3rem;
}

/* End Banner Area */

/* Start Action Area */
.site-main .action-area {
  padding: 1rem 20rem;
  margin-top: 4rem;
  margin-bottom: 4rem;

  justify-content: center;
}

.site-main .action-area .single-brand {
  border: 1px solid var(--border-color);
  width: 20rem;
  height: 11rem;
  padding-left: 0;
  background-color: #e029290a;
}

.site-main .action-area .single-brand:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.1);
}

.site-main .action-area .single-action {
  height: 25rem;
}
/* End Action Area */

/* end navigation */
